{% extends 'base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}
  <center>
  <h2 id="pass">Cambiar Contraseña</h2>
  <h2 id="message"></h2>
  <form method="POST" id="myForm">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}</p>
    {% endfor %}
    <button type="submit">Guardar Cambios</button>
  </form><br>
  <a href="{% url 'home' %}" id="change">Cancelar</a>
  {% if form.is_valid %}
    <script>
    myFunction();
    function myFunction() {
        //myFunction: Borra el formulario una ves enviado.
        document.getElementById("myForm").innerHTML = "";
        document.getElementById("change").innerHTML = "";
        document.getElementById("pass").innerHTML = "";
    }
    </script>
    <script>
    var totalTiempo=10;
    var url="http://localhost:8000";
    function updateReloj(){
        //updateReloj: Muestra mensaje de confirmacion, reloj de espera luego redirije a pantalla principal.
        document.getElementById('message').innerHTML = `Su contraseña fue
        cambiada con éxito!<br/> Redireccionando a la pagina principal
        en ${totalTiempo} segundos <br/> o haga click
        <a href="{% url 'home' %}">aqui</a> para ir directamente`;
        if(totalTiempo==0){
            window.location=url;
        } else {
            totalTiempo-=1;
            setTimeout("updateReloj()",1000);
        }
    }
    window.onload=updateReloj;
    </script>
  {% endif %}
{% endblock %}
