{% extends "base.html" %}

{% block title %}Bievenido{% endblock %}

{% block content %}
    <style>
    h1 {color:violet;}
    a1 {color:IndianRed;}
    .dropbtn {
      position:relative;left:5%;top:5px
    }
    </style>
    {% if user.is_authenticated %}
      <div align="center">
        <a href="{% url 'update_profile' %}">Editar perfil</a>
      </div>
      <div align="center">
        <h1 color="blue">Mi perfil</h1>
      </div>
      <center>
      <div>
        <h4>Nombre de usuario: {{user.username}}</h4>
        <h4>Nombre completo: {{user.first_name}}&nbsp{{user.last_name}}</h4>
        <h4>Email: {{user.email}}</h4>
        <h4>Avatar:</h4>
        <img src="{{ user.avatar.url }}" width="100px" height="100px" />
      </div>
    {% endif %}

{% endblock content %}
